/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  text-align: center;
  background: url("../Images/Hero_IMG.jpg") no-repeat center center/cover;

  &__logo {
    width: 82px;
    height: 85px;
    margin: 2rem;
    margin-top: 0;
    background: url("../Images/Bitmap.png") no-repeat center center;
  }

  &__heading * {
    margin: 0.5rem;
    font-family: $font-alt;
    font-size: 2.2rem;
    font-weight: 800;
    color: $color-primary;

    &:last-child {
      color: $color-alt;
    }
  }

  &__subheading {
    margin: 3rem;
    font-size: 1.6rem;
    font-weight: normal;
    color: $color-medium;
  }
}
