// Main entries
.main-entry {
  display: flex;
  align-items: center;
  max-width: 1200px;
  height: 400px;
  margin: 1.5rem auto;
  background: none;

  > * {
    flex: 1;
    margin: 3rem;
  }

  &:first-child {
    transform: translateY(-60px);
  }

  &:last-child {
    margin-bottom: 20rem;
  }

  &__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url("../Images/WSU-bg.jpg") center center/cover;

    > * {
      width: 50%;
      margin-bottom: 20px;

      img {
        width: 100%;
      }
    }
  }

  &__text-field {
    //  padding-right: 5rem;
  }

  &--reversed {
    flex-direction: row-reverse;

    .main-entry {
      &__image {
        background: url("../Images/youtube-video.jpg") center center/cover;

        img:nth-child(1) {
          width: 20%;
          margin-bottom: 0;
          transform: translateY(17px);
        }

        img:nth-child(2) {
          width: 5%;
          margin-bottom: 0;
          transform: translateY(-54px);
        }
      }

      &__text-field {
        text-align: right;
      }
    }
  }
}
