@media (max-width: 500px) {
  .header {
    height: 50vh;

    &__logo {
      margin: 0;
    }

    &__heading {
      font-size: 1.5rem;
      margin: 0;
      &--comment {
        font-size: 1.25rem;
      }
    }
  }

  %main-content__entry--mobile {
    width: 100vw;
    height: 300px;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;

    > * {
      flex: auto;
      margin: 0;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.25rem;
    }

    &:first-child {
      transform: none;
    }

    &:last-child {
      margin-bottom: 1rem;
    }

    .entry__img {
      height: 100%;
      width: 100%;
      justify-content: space-evenly;
      > * {
        max-height: 50%;
        width: auto;
        margin-bottom: 0;
      }
    }
  }

  .main-content__entry {
    @extend %main-content__entry--mobile;
    &--reversed {
      @extend %main-content__entry--mobile;

      .entry__img {
        img:nth-child(1) {
          width: 100px;
          transform: translateY(26px);
        }
        img:nth-child(2) {
          height: 26px;
          transform: translateY(-76px);
          margin-bottom: 0;
        }
      }

      .entry__text {
        text-align: center;
      }
    }
  }

  %sub-content__entry--mobile {
    width: 100vw;
    font-size: 1.25rem;
  }

  .sub-content__entry {
    @extend %sub-content__entry--mobile;

    &--decorated {
      @extend %sub-content__entry--mobile;
      transform: none;

      .entry__text {
        margin: 0;
      }

      // Artificial border
      &::after {
        display: none;
      }
    }
  }

  .bulk-content {
    padding: 1rem;

    &__entry {
      width: 100%;

      span {
        font-size: 1.25rem;
        line-height: 2;
        margin: 0.5rem;

        &:after {
          transform: translateY(0.75rem);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .sub-content__entry {
    &--decorated {
      // Artificial border
      &::after {
        display: none;
      }
    }
  }
}
