/* CSS reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  color: $color-dark;
}

.bg-primary {
  background: $color-primary;
}

.bg-light {
  background: $color-light;
}

.link,
.link * {
  color: $color-alt;
}
